h1 {
	font-size: 28px;
}
h2 {
	font-size: 22px;
}

h3 {
	font-size:20px;
}

h3.ds-div-head {
    font-size: 18px;
    font-weight: bold;
}

body {
   background-color: #fff;
}

#main-container .row-offcanvas {
    background-color: transparent;
}


a, a.list-group-item  {
    color: #163776;
    text-decoration: underline;
}

a.list-group-item.ds-option:hover {
    display: inline-block;
    margin-left: 10px;
}

.dropdown a {
    text-decoration: none;
}

.clear {
	clear: both;
}

#sidebar a.ds-option {
    display: block;
    font-weight: bold;
    padding: 9px 10px 8px 32px;
    text-decoration: none;
}

/*#sidebar a.ds-option:before {
    font-family: 'fontello';
    content: "\e82c \00A0";
    font-weight: normal;
}*/

#ds-options .ds-option-set-head {
    /* color: #777777; */
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: larger;
    padding-top: 15px;
    color: #333;
}

a.list-group-item,
.item-view-toggle a {
	text-decoration: none;
}

/*#sidebar a[href$="/community-list"] {
	background-position: 7px -86px;
}

#sidebar a[href$="?type=dateissued"] {
	background-position: 7px -150px;
}

#sidebar a[href$="?type=author"],
#sidebar a[href$="?type=person"] {
	background-position: 7px -22px;
}


#sidebar a[href$="?type=title"] {
	background-position: 7px -182px;
}*/

#sidebar a[href$="/browse?type=personftadvisor"],
#sidebar a[href$="/browse?type=personftreferee"] {
    display: none;
}

/*#sidebar a:hover {
	webkit-box-shadow: #fff -20px 0px 20px inset;
}*/

b.visible-xs.glyphicon.glyphicon-user.auth {
    color: #b17a11;
}

.list-group-item.active {
    background-color: transparent !important;
    color: #333 !important;
    border:none;
}

.list-group-item.ds-option, .list-group-item.ds-option:hover {
    background-color: transparent;
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #163776;
}

.publish, .file-link {
	  background: #163776 ;
    border: 1px solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: #163776 #163776 #444;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    color: #fff;
    font-weight: bold;
    min-width: 50px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    /* margin-top: 11px; */
    padding: 0;
    text-align: center;
    /* width: 198px; */
    margin-bottom: 15px;
    margin-left: 15px;
}

.publish a, .submit a {
	background: url(/themes/Mirage2/images/icons.png) no-repeat 10px -249px !important;
    font-weight: bold;
    color: #fff;
    display: block;
    padding: 6px 15px 6px 34px !important;
    text-decoration: none;
}

.submit {
	background: #163776;
	border-color: #163776 #163776 #444;
	text-align: center;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 11px;
	padding: 0;
	text-align: center;
	width: 198px;
	margin-bottom: 15px;
}

a[href$='isAllowed=n'] {
    opacity: 0.4;
}

.help {
    border-bottom: 1px solid #ccc;
    display: block;
    font-size: 16px;
    margin: 9px 0px 0px -20px;
    min-height: 36px;
    padding: 9px 10px 17px 100px;
    position: relative;
}

.help .icon {
    background: url(../images/step-icons.png) 0 0 no-repeat;
    color: #fff;
    display: block;
    height: 70px;
    left: 20px;
    position: absolute;
    text-indent: -9999px;
    top: -8px;
    width: 72px;
}

.help span {
    color: #444;
    display: block;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.help#step2 .icon {
    background-position: 0 -72px;
}

.help#step3 .icon {
    background-position: 0 -144px;
}

.help#step4 .icon {
    background-position: 0 -216px;
}

.help#step5 .icon {
    background-position: 0 -288px;
}

#file_news_div_news .ds-ordered-list {
    list-style: none;
    margin-left: 0;
}

.first-page-header {
	color: #5c739f;
}

.subtitle {
    color: #818181;
    font-size: 22px;
    line-height: 24px;
}

.simple-item-view-authors {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

/*.glyphicon {
    color: #314f8c;
}
*/

.simple-item-view-bookmark {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    clear: both;
    margin: 13px 0 -5px;
    padding: 4px 6px;
    text-shadow: 0 1px 0 #314f8c;
}

.file-metadata span.bold, .simple-item-view-other span.bold {
    clear: left;
    float: left;
    width: 200px;
}

.translated {
	font-size: 18px;
}

.title.translated {
    color: #5c739f;
}

span.bookmark {
    cursor: pointer;
}

li.ds-artifact-item {
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
}

.artifact-abstract {
    padding-bottom: 5px;
}

header .navbar-default {
    background-color: #183776
}

@media screen and (min-width: 992px) {
    header .navbar-default {
            background: #183776 url(../images/header-bg.jpg) center top no-repeat;
    box-shadow: 0 0 5px #000;
    left: 0;
    min-width: 1000px;
    position: relative;
    top: 0;
    width: 100%;
    height: 180px;
    }

        a.navbar-brand, .navbar-brand:hover {
        background: #163776 url(/themes/Mirage2/images/header.png) left top no-repeat;
        /*background-size: 480px;*/
        height: 180px;
        width: 330px;
    }

    .navbar-header.pull-right.hidden-xs {
	    /*background: #1F3F5E;*/
	    background: #163776;
	    /*padding-bottom: 3px;*/
    }

   form#searchbox {
	 margin-top: 15px;
         margin-right: 0;
	 padding-left: 10px;
  }
}

.navbar-header {
	background: #163776;
}

@media screen and (max-width: 991px) {
    a.navbar-brand, .navbar-brand:hover {
    	background: #163776 url(/themes/Mirage2/images/header.png) left top no-repeat;
	background-size: 480px;
	height: 146px;
	width: 250px;
    }

    .glyphicon-user, .glyphicon-globe {

	    color: #fff;
    }

    form#searchbox {
            margin-top: 72px;
            margin-right: -190px;
   }

}

@media screen and (max-width: 767px) {
	form#searchbox {
	    margin-top: -73px;
	    margin-right: 10px;
	}
	
	.main-content {
		border-right: none !important;
	}
	/*#searchbox .input-group {
 	   margin-top: 10px;
	}*/

}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.container {
		width: auto;
	}
	.file-link a {
		width: 147px !important;
	}
}


/*input.ds-button-field {
    right: 15px;
    position: absolute;
    top: 80px;
}*/


.radio.line {
   display: inline;
   font-size: 0.9em;
}

.radio.line input {
	position: relative;
}

#main-container #sidebar {
/*	background: linear-gradient(to right, #e9eaec, white);*/
	background-color: transparent;
	padding-top: 15px;
	padding-left: 0px;
}

.row.row-offcanvas.row-offcanvas-right {
    background: linear-gradient(to right, #e9eaec, white);
}

#ds-options {
	padding-top: 5px;
}

.main-content {
	border-right: 1px solid #ccc; 
	padding-top: 35px;
}

.footer-wrapper {
	background-color: #153776;
}

footer, footer a {
    color: #fff;
}

footer .row > div {
		border: none;
}

#globsearch {
    margin-left: -20px;
    border: none;
    padding: 0;
    background: transparent;
}

#searchbox .ds-text-field {
    color: #000;
    height: 25px;
}

div#aspect_artifactbrowser_CommunityViewer_div_community-view {
    padding: 15px 0;
}

#authuser {
    color: #b17a10;
    font-weight: bold;
    font-size: 0.9em;
    display: block;
    margin: 0 auto;
    text-align: center;	
}

#sidebar a[href$="/community-list"]:before {
    font-family: 'fontello';
    content: "\f19c \2002";
    font-weight: normal;
}

#sidebar a[href$="?type=dateissued"]:before {
    font-family: 'fontello';
    content: "\e811 \2002";
    font-weight: normal;
}

#sidebar a[href$="?type=author"]:before {
    font-family: 'fontello';
    content: "\e815 \2002";
    font-weight: normal;
}

#sidebar a[href$="?type=person"]:before {
    font-family: 'fontello';
    content: "\e815 \2002";
    font-weight: normal;
}

#sidebar a[href$="?type=title"]:before {
    font-family: 'fontello';
    content: "\e819 \2002";
    font-weight: normal;
}

#sidebar a[href$="?type=type"]:before {
    font-family: 'fontello';
    content: "\f19d \2002";
    font-weight: normal;
}

#sidebar a[href$="/fullpublication"]:before {
    font-family: 'fontello';
    content: "\e81d \2002";
    font-weight: normal;
}

#sidebar a[href$="pdf-howto"]:before {
    font-family: 'fontello';
    content: "\f1c1 \2002";
    font-weight: normal;
}

#sidebar a[href$="deposit-license"]:before {
    font-family: 'fontello';
    content: "\f24e \2002";
    font-weight: normal;
}


#sidebar a[href$="/good-to-know"]:before {
    font-family: 'fontello';
    content: "\f29c \2002";
    font-weight: normal;
}

a[href$="/logout"]:before {
    font-family: 'fontello';
    content: "\e81f \2002";
    font-weight: normal;
}

a[href$="/profile"]:before {
    font-family: 'fontello';
    content: "\f2bc \2002";
    font-weight: normal;
}

#sidebar a[href$="/submissions"]:before,
li a[href$="/submissions"]:before{
    font-family: 'fontello';
    content: "\e816 \2002";
    font-weight: normal;
}

#file_deposit-licence_pdf > a::before {
    font-family: 'fontello';
    content: "\e81c \2002";
    font-weight: normal;
}

span.icon-rss-1 {
    color: #153776;
    font-size: 18px;
    cursor: pointer;
}

span.icon-rss-1 a {
    color: #fff;
}

ul.share-buttons {
    padding-left: 0px;
}

ul.share-buttons li {
    display: inline;
}

.ds-item-keywords {
    margin-top: 15px;
}

.license-info {
    margin-top: 15px;
}

.item-view-toggle {
    margin: 0;
}

.embargo-info p {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 13px 0 -12px;
    margin-bottom: -12px;
    padding: 4px 6px;
    margin-bottom: 26px;
    background-color: #f5f5f5;
}

.collection-browse > p > a,
.community-browse > p > a {
    background: #163776 ;
    border: 1px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: #163776 #163776 #444;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    color: #fff;
    font-weight: bold;
    min-width: 50px;
    padding: 4px 30px;
    text-align: center;
    text-decoration: none;
    margin: 3px;
}


a[href$="personftadvisor"],
a[href$="personftreferee"]{
    display: none;
}

.ft {
	display: inline !important;
}


.community-browse p a,
.collection-browse p a {
    width: 180px;
}

.collection-browse p a[href$="type"],
.community-browse p a[href$="type"] {
    display: none;
}

#aspect_artifactbrowser_CommunityViewer_div_community-view li {
    border-bottom: none;
}

/* item view: file section */

.file-metadata {
    margin: 0 20px 18px 0;
    float: left;
}

.file-metadata span.bold, .metadata span.bold {
    clear: left;
    float: left;
    width: 200px;
}

.file-link {
    float: right;
    margin-bottom: 29px;
}

.file-link a {
    background: url("../images/icons.png") no-repeat 10px -281px !important;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 6px 15px 6px 34px !important;
    text-decoration: none;
    /* width: 147px !important; */
    min-height: 30px;
}

.btn-default {
	background: #163776 ;
	border: 1px solid;
	    border-top-color: currentcolor;
	    border-right-color: currentcolor;
	    border-bottom-color: currentcolor;
	    border-left-color: currentcolor;
	border-color: #163776 #163776 #444;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	color: #fff;
	font-weight: bold;
	min-width: 50px;
	padding: 4px;
	text-align: center;
	text-decoration: none;
}


.main-content form {
    background: url(/themes/Mirage2/images/noise.png);
    border: 1px solid #ccc;
        border-right-color: rgb(204, 204, 204);
        border-right-style: solid;
        border-right-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    font-size: 13px;
    line-height: 18px;
    margin: 15px -15px 27px 0;
    padding: 18px 20px 17px;
    position: relative;
}

hr {
    border: none;
    background: #ccc;
    clear: both;
    height: 1px;
    margin: 26px -20px 9px 0px;
    position: relative;
    width: auto;
}

.share-buttons [class^="icon-"] {
    font-size: 1.5em;
    color: black;
}

.toggler-wrap .btn.btn-default.btn-sm.toggler.collapsed {
    background: none;
    font-weight: normal;
    border: 1px solid #c8d9e8;
    min-width: 30px;
    color:#333;
}

#aspect_artifactbrowser_CommunityBrowser_referenceSet_community-browser div {
    font-weight: bold;
    font-size: 1.1em;
}

#aspect_artifactbrowser_CommunityBrowser_referenceSet_community-browser a {
    font-size: 1em;
    font-weight: normal;
}

#aspect_submission_StepTransformer_div_submit-describe .control-label.required {
    color: #840b0b;
}


div[id$="_submit-progress"] {
        margin-bottom: 15px;
}

#aspect_submission_StepTransformer_list_submit-progress button[type="submit"] {
        border: 1px solid;
        border-color: #163776 #163776 #444;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
		text-align: center;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
		color: #fff;
		font-weight: bold;
		min-width: 50px;
		padding: 4px;
		text-decoration: none;
		margin-right: 5px;
		background: #163776 ;
}

.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{
    color:#fff;
    background:#163776 ;
}

button.btn-default {
    margin-right: 5px;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

minus::before {
    color: #153776;
}

.icon-mail-1::before {
    content: '\e808';
}


.icon-twitter-1::before {
    content: '\f099';
}

.icon-gplus-1::before {
    content: '\f0d5';
}

.icon-linkedin-1::before {
    content: '\f0e1';
}

#aspect_versioning_VersionHistoryForm_table_versionhistory th:nth-child(3),
#aspect_versioning_VersionHistoryForm_table_versionhistory th:nth-child(4), 
#aspect_versioning_VersionHistoryForm_table_versionhistory td:nth-child(3), 
#aspect_versioning_VersionHistoryForm_table_versionhistory td:nth-child(4) {
    display: none;
}

#aspect_submission_StepTransformer_list_submit-progress {
  margin-bottom: 30px;
}

header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus, header .navbar-default .navbar-nav:hover, header .navbar-default .navbar-nav:focus {
  background-color: #163776;
}

.parts {
  margin-top: 15px;
}

.parts div {
  padding: 5px 0;
}


/*#aspect_submission_StepTransformer_list_submit-describe .ds-form-item:first-child {
  display: none;
}*/

#aspect_submission_StepTransformer_field_submit-create-doi {
  display: none;
}

#aspect_submission_StepTransformer_list_selectlist {
  margin-top: 15px;
}

span.alert.alert-warning {
  display: block;
}


