
.icon-trash-empty:before { content: '\e800'; } /* '' */
.icon-upload:before { content: '\e801'; } /* '' */
.icon-list:before { content: '\e802'; } /* '' */
.icon-list-1:before { content: '\e803'; } /* '' */
.icon-rss:before { content: '\e804'; } /* '' */
.icon-rss-1:before { content: '\e805'; } /* '' */
.icon-login:before { content: '\e806'; } /* '' */
.icon-login-1:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-help-circled-alt:before { content: '\e809'; } /* '' */
.icon-help-circled:before { content: '\e80a'; } /* '' */
.icon-doc:before { content: '\e80b'; } /* '' */
.icon-doc-1:before { content: '\e80c'; } /* '' */
.icon-note:before { content: '\e80d'; } /* '' */
.icon-chart-bar:before { content: '\e80e'; } /* '' */
.icon-lock:before { content: '\e80f'; } /* '' */
.icon-lock-open:before { content: '\e810'; } /* '' */
.icon-calendar:before { content: '\e811'; } /* '' */
.icon-align-justify:before { content: '\e812'; } /* '' */
.icon-phone:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */
.icon-users:before { content: '\e815'; } /* '' */
.icon-book-open:before { content: '\e816'; } /* '' */
.icon-book:before { content: '\e817'; } /* '' */
.icon-book-1:before { content: '\e818'; } /* '' */
.icon-th-list:before { content: '\e819'; } /* '' */
.icon-list-alt:before { content: '\e81a'; } /* '' */
.icon-address:before { content: '\e81b'; } /* '' */
.icon-download:before { content: '\e81c'; } /* '' */
.icon-publish:before { content: '\e81d'; } /* '' */
.icon-news:before { content: '\e81e'; } /* '' */
.icon-logout:before { content: '\e81f'; } /* '' */
.icon-right-dir:before { content: '\e820'; } /* '' */
.icon-left-dir:before { content: '\e821'; } /* '' */
.icon-up-dir:before { content: '\e822'; } /* '' */
.icon-down-dir:before { content: '\e823'; } /* '' */
.icon-volume-up:before { content: '\e824'; } /* '' */
.icon-headphones:before { content: '\e825'; } /* '' */
.icon-play:before { content: '\e826'; } /* '' */
.icon-plus:before { content: '\e827'; } /* '' */
.icon-minus:before { content: '\e828'; } /* '' */
.icon-minus-1:before { content: '\e829'; } /* '' */
.icon-plus-1:before { content: '\e82a'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-blank:before { content: '\f0c8'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-calendar-minus-o:before { content: '\f272'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
